<mat-card>
    <mat-card-header class="flex justify-between mb-4">
        <mat-card-title>Thrust to weight ratio</mat-card-title>
        <mat-icon fontIcon="question_mark" (click)="openExplanationDialog()" class="hover:cursor-pointer"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-wrap gap-10 items-center" [formGroup]="form">
            <div class="flex flex-wrap gap-2 items-center">
                <app-calculator-form-number-input
                    label="Motor thrust [gf]"
                    formControlName="motorThrust"></app-calculator-form-number-input>
                    <app-calculator-form-number-input
                    label="Weight [g]"
                    formControlName="weight"></app-calculator-form-number-input>
                    <app-calculator-form-number-input
                    label="Motors amount"
                    formControlName="multiplier"></app-calculator-form-number-input>
            </div>
            <h1>T/W = {{ p2w }} : 1</h1>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #explanationContent>
    <p>
        For racing drones, the thrust-to-weight ratio (or power-to-weight ratio) should be significantly higher than the example above. Ratios of 10:1 or even 14:1 are not uncommon. For acro and freestyle flying, I recommend having at least a 5:1 ratio.
    </p>
    <p class="text-right">
        <a
            href="https://oscarliang.com/motors/"
            target="_blank"
            class="text-blue-600 dark:text-blue-500 hover:underline"
            >Oscar Liang</a
        >
    </p>
    <p class="text-center">T/W = Motor thrust * Motors amount / Weight</p>
</ng-template>
