<app-calculator [config]="config" [explanationDialogTemplateRef]="explanationContentTemplateRef"></app-calculator>

<ng-template #explanationContent>
    <p>
        For racing drones, the thrust-to-weight ratio (or power-to-weight ratio) should be significantly higher than the example above. Ratios of 10:1 or even 14:1 are not uncommon. For acro and freestyle flying, I recommend having at least a 5:1 ratio.
    </p>
    <p class="text-right">
        <a
            href="https://oscarliang.com/motors/"
            target="_blank"
            class="text-blue-600 dark:text-blue-500 hover:underline"
            >Oscar Liang</a
        >
    </p>
    <p class="text-center">T/W = Motor thrust * Motors amount / Weight</p>
</ng-template>
