<mat-card>
    <mat-card-header>Optimal KV rating</mat-card-header>
    <mat-card-content>
      <div class="flex gap-2 items-center mt-4" [formGroup]="form">
          <app-calculator-form-battery-size-select formControlName="batterySize"></app-calculator-form-battery-size-select>
          <app-calculator-form-propeller-size-select formControlName="propellerSize"></app-calculator-form-propeller-size-select>
          <h1>KV<sub>opt</sub> = {{ kv }}</h1>
        </div>
    </mat-card-content>
</mat-card>