<mat-card>
    <mat-card-header class="flex justify-between mb-4">
        <mat-card-title>{{ config.title }}</mat-card-title>
        <mat-icon
            *ngIf="explanationDialogTemplateRef"
            fontIcon="question_mark"
            (click)="openExplanationDialog()"
            class="hover:cursor-pointer"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-wrap gap-10 items-center" [formGroup]="form">
            <div class="flex flex-col">
                <div class="flex flex-wrap gap-2 items-center" *ngFor="let chunk of chunkedFormConfig">
                    <ng-container *ngFor="let control of chunk">
                        <app-calculator-form-mach-select
                            *ngIf="control.type === 'mach'"
                            [formControlName]="control.formControlName"></app-calculator-form-mach-select>

                        <app-calculator-form-battery-size-select
                            *ngIf="control.type === 'battery-size'"
                            [formControlName]="control.formControlName"></app-calculator-form-battery-size-select>

                        <app-calculator-form-number-input
                            *ngIf="control.type === 'numeric'"
                            [label]="control.label"
                            [formControlName]="control.formControlName"></app-calculator-form-number-input>

                        <app-calculator-form-percentage-select
                            *ngIf="control.type === 'percentage'"
                            [label]="control.label"
                            [formControlName]="control.formControlName"></app-calculator-form-percentage-select>
                    </ng-container>
                </div>
            </div>
            <h1>{{ config.valueName }} = {{ value }} {{ config.valueUnit || '' }}</h1>
        </div>
    </mat-card-content>
</mat-card>
