<mat-progress-bar mode="indeterminate"></mat-progress-bar>
<div class="p-4 text-center">
    <p>
        This section is still in development.<br />
        Stay tuned.
    </p>
    <p>
        <a
            class="text-blue-600 dark:text-blue-500 hover:underline"
            href="https://www.reddit.com/r/fpv/comments/1fbuuoe/a_new_online_tool_that_supports_the_construction/"
            target="_blank"
            >https://www.reddit.com/r/fpv/comments/1fbuuoe/a_new_online_tool_that_supports_the_construction/</a
        >
    </p>
    <p>
        <a class="text-blue-600 dark:text-blue-500 hover:underline" [href]="appRepositoryUrl" target="_blank">{{
            appRepositoryUrl
        }}</a>
    </p>
</div>