<mat-card>
    <mat-card-header class="flex justify-between mb-4">
        <mat-card-title>All in one calculator</mat-card-title>
        <mat-icon fontIcon="question_mark" (click)="openExplanationDialog()" class="hover:cursor-pointer"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="flex gap-2 flex-wrap" [formGroup]="form">
            <app-calculator-form-mach-select formControlName="mach"></app-calculator-form-mach-select>
            <app-calculator-form-battery-size-select
                formControlName="batterySize"></app-calculator-form-battery-size-select>
            <app-calculator-form-number-input
                label="Propeller size [inches]"
                formControlName="propellerSize"></app-calculator-form-number-input>
            <app-calculator-form-number-input label="Motor KV" formControlName="kv"></app-calculator-form-number-input>
            <app-calculator-form-percentage-select
                label="Env loses"
                formControlName="loses"></app-calculator-form-percentage-select>
        </div>
        <div class="flex gap-10 flex-wrap">
            <h1>KV<sub>opt</sub> = {{kv}}</h1>
            <h1>RPM = {{rpm}}</h1>
            <h1>PST = {{pts}} [m/s]</h1>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #explanationContent>
    <p>If you want to see specific calculators with dedicated explanation per parameter, you should turn off basic view.</p>
</ng-template>
