<mat-card>
    <mat-card-header>Propeller tip speed</mat-card-header>
    <mat-card-content>
        <div class="flex gap-10 items-center mt-4" [formGroup]="form">
            <div class="flex flex-col">
                <div class="flex gap-2 items-center">
                    <app-calculator-form-battery-size-select
                        formControlName="batterySize"></app-calculator-form-battery-size-select>
                    <app-calculator-form-number-input
                        label="Motor KV"
                        formControlName="kv"></app-calculator-form-number-input>
                    <app-calculator-form-percentage-select
                        label="Env loses"
                        formControlName="loses"></app-calculator-form-percentage-select>
                </div>
                <div class="flex gap-2 items-center">
                    <app-calculator-form-propeller-size-select
                        formControlName="propellerSize"></app-calculator-form-propeller-size-select>
                </div>
            </div>
            <h1>PTS = {{ pts }} [m/s]</h1>
        </div>
    </mat-card-content>
</mat-card>
