<app-calculator [config]="config" [explanationDialogTemplateRef]="explanationContentTemplateRef"></app-calculator>

<ng-template #explanationContent>
    <p>
        Propeller tip speed is the speed at which the outermost point (the tip) of a propeller blade travels through the
        air as the propeller rotates. This speed depends on the rotational speed (RPM) of the propeller and the length
        of the propeller blade.
    </p>
    <p>
        Optimal propeller tip speed for a drone depends on balancing efficiency, noise, and structural integrity. It's a
        key design factor that varies with drone size, application, and environmental considerations.
    </p>
    <p>
        Practical Considerations:<br />
        Small Drones: For small drones, a lower tip speed can be preferable, around 100-150 m/s, to minimize noise and
        maximize battery life.<br />
        Larger Drones or Racing Drones: For larger drones or performance-focused drones (like racing drones), higher tip
        speeds may be acceptable (up to 200 m/s or more), trading off some efficiency and noise for increased thrust and
        agility.
    </p>
    <p class="text-center">Tip Speed = Propeller Radius * 2π * RPM / 60</p>
</ng-template>
