<mat-card>
    <mat-card-header>Acceleration</mat-card-header>
    <mat-card-content>
        <div class="flex gap-2 items-center mt-4" [formGroup]="form">
            <mat-form-field>
                <mat-label>Thrust [gf]</mat-label>
                <input matInput type="number" formControlName="thrust" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Weight [g]</mat-label>
                <input matInput type="number" formControlName="weight" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Motors amount</mat-label>
                <input matInput type="number" formControlName="multiplier" />
            </mat-form-field>
            <h1>a = {{ a }} [m/s<sup>2</sup>]</h1>
        </div>
    </mat-card-content>
</mat-card>
