<mat-card>
    <mat-card-header>RPM</mat-card-header>
    <mat-card-content>
        <div class="flex gap-2 items-center mt-4" [formGroup]="form">
            <mat-form-field>
                <mat-label>Battery size</mat-label>
                <mat-select formControlName="batterySize">
                    <mat-option *ngFor="let option of batterySizeSelectorOptions" [value]="option.value">{{
                        option.label
                    }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Motor KV</mat-label>
                <input matInput type="number" formControlName="kv"/>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Env loses</mat-label>
                <mat-select formControlName="loses">
                    <mat-option *ngFor="let option of envLosesSelectorOptions" [value]="option.value">{{
                        option.label
                    }}</mat-option>
                </mat-select>
            </mat-form-field>
            <h1>RPM = {{ rpm }}</h1>
        </div>
    </mat-card-content>
</mat-card>
