<mat-card>
    <mat-card-header class="flex justify-between">
        <mat-card-title>Propeller tip speed conversion</mat-card-title>
        <mat-icon fontIcon="question_mark" (click)="openExplanationDialog()" class="hover:cursor-pointer"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="flex gap-10 items-center mt-4" [formGroup]="form">
            <div class="flex flex-col">
                <div class="flex gap-2 items-center">
                    <app-calculator-form-battery-size-select
                        formControlName="batterySize"></app-calculator-form-battery-size-select>
                    <app-calculator-form-number-input
                        label="Primary motor KV"
                        formControlName="primaryKv"></app-calculator-form-number-input>
                    <app-calculator-form-percentage-select
                        label="Env loses"
                        formControlName="loses"></app-calculator-form-percentage-select>
                </div>
                <div class="flex gap-2 items-center">
                    <app-calculator-form-number-input
                        label="Primary prop size [inches]"
                        formControlName="primaryPropellerSize"></app-calculator-form-number-input>
                    <app-calculator-form-number-input
                        label="Secondary prop size [inches]"
                        formControlName="secondaryPropellerSize"></app-calculator-form-number-input>
                </div>
            </div>
            <h1>KV = {{ kv }}</h1>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #explanationContent>
    <p>
        This converter allows you to find the KV value when you want to obtain the same propeller tip speed between different propeller sizes while maintaining the same power supply.
    </p>
</ng-template>
