<mat-card>
    <mat-card-header class="flex justify-between mb-4">
        <mat-card-title>Acceleration</mat-card-title>
        <mat-icon fontIcon="question_mark" (click)="openExplanationDialog()" class="hover:cursor-pointer"></mat-icon>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-wrap gap-10 items-center " [formGroup]="form">
            <div class="flex flex-wrap gap-2 items-center">
                <app-calculator-form-number-input
                    label="Thrust [gf]"
                    formControlName="thrust"></app-calculator-form-number-input>
                <app-calculator-form-number-input
                    label="Weight [g]"
                    formControlName="weight"></app-calculator-form-number-input>
                <app-calculator-form-number-input
                    label="Motors amount"
                    formControlName="multiplier"></app-calculator-form-number-input>
            </div>
            <h1>a = {{ a }} [m/s<sup>2</sup>]</h1>
        </div>
    </mat-card-content>
</mat-card>

<ng-template #explanationContent>
    <p>
        Drone acceleration refers to how quickly a drone can change its speed. It measures how fast the drone can go
        from a lower speed to a higher speed or vice versa.
    </p>
    <p>
        This calculation is pretty simple. You must find motor thrust in manufacturer's specification (in grams) and
        provide RTF weight of your drone (also in grams)
    </p>
    <p class="text-center">Acceleration = ((Thrust / 1000) * GRAVITY_CONST * Amount Of Motors) / (Weight / 1000)</p>
</ng-template>
