<app-calculator [config]="config" [explanationDialogTemplateRef]="explanationContentTemplateRef"></app-calculator>

<ng-template #explanationContent>
    <p>
        Drone acceleration refers to how quickly a drone can change its speed. It measures how fast the drone can go
        from a lower speed to a higher speed or vice versa.
    </p>
    <p>
        This calculation is pretty simple. You must find motor thrust in manufacturer's specification (in grams) and
        provide RTF weight of your drone (also in grams)
    </p>
    <p class="text-center">Acceleration = ((Thrust / 1000) * GRAVITY_CONST * Amount Of Motors) / (Weight / 1000)</p>
</ng-template>
